<%= form_for @gift_exchange do |f| %>
  <div class="container-fluid">
    <div class="row m-3">
      <div class="col form-label">
        <%= f.label :event_date %>
      </div>
      <div class="col form-control">
        <%= f.text_field :event_date, data: { controller: 'date' } %>
      </div>
    </div>
    <div class="row m-3">
      <div class="col form-label">
        <%= f.label :name %>
      </div>
      <div class="col form-control">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row m-3">
      <div class="col form-label">
        <%= f.label :description %>
      </div>
      <div class="col form-control">
        <%= f.text_area :description %>
      </div>
    </div>
    <%= f.submit %>
  </div>
<% end %>