<h1>Gift Exchanges</h1>
<div class="container-fluid">
  <div class="row m-3">
    <div class="col">
      <% if @gift_exchanges.empty? %>
        <p>There are no gift exchanges yet. Create one <%= link_to 'here', new_gift_exchange_path %></p>
      <% else %>
        <%= link_to "Create", new_gift_exchange_path %> new gift exchange
      <% end %>
    </div>
  </div>
  <% @gift_exchanges.each do |exchange| %>
    <div class="row m-3">
      <div class="col">
        <%= link_to exchange.name, gift_exchange_path(exchange) %>
      </div>
      <div class="col">
        <%= exchange.event_date.strftime("%B %d, %Y") %>
      </div>

      <% if exchange.owner == current_user %>
        <div class="col d-flex flex-row justify-content-between align-content-center">
          <%= link_to "Edit", edit_gift_exchange_path(exchange), class: 'btn btn-primary' %>
          <%= button_to "Delete",
                        gift_exchange_path(exchange),
                        method: :delete,
                        class: 'btn btn-danger',
                        data: { confirm: "Are you sure?" } %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>